@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin for-tablet {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin for-mobile {
  @media (max-width: 480px) {
    @content;
  }
}


$body-color: #F6F5EB;
$font-color: #E45757;
$font-color-black: #303030;
$secondary-color: #E9BD24;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body-color;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $font-color;
}

#site-title {
  @include flex(column, center, center);
  font-size: 3em;
  font-weight: bolder;
  margin-top: 5rem;

  p {
    font-weight: bold;
    font-size: .5em;
  }
}

#player-select {
  @include flex(row, center, center);
  gap: 1rem;
  margin-top: 1rem;

  @include for-mobile {margin-top: 4rem;}
  @include for-tablet {margin-top: 4rem;}

  .input-group {
    @include flex(column, center, flex-start);
  }
  label {
    font-size: .25em;
    margin-bottom: .2rem;

    @include for-mobile {font-size: .35em;}
    @include for-tablet {font-size: .35em;}

  }

  
}

.btn-play {
  background-color: $body-color;
  border: 3px solid $font-color;
  color: $font-color;
  font-weight: bold;
  padding: .5rem 1rem;
  margin-top: 1.2rem;

  @include for-mobile {
    padding: .85rem 1.35rem;
    font-size: .5em;
    margin-top: 1.6rem;
  }
  @include for-tablet {
    padding: .85rem 1.35rem;
    font-size: .5em;
    margin-top: 1.6rem;
  }
}

.btn-play:hover {
  background-color: $font-color;
  color: $body-color;
}

.input-red {
  border: 3px solid $font-color;
  padding: .5rem;
  color: $font-color-black;

  @include for-mobile {
    padding: .85rem;
    font-size: .5em;
  }
  @include for-tablet {
    padding: .85rem;
    font-size: .5em;
  }
}

.input-red:focus {
  border: 3px solid $secondary-color;
  background-color: white;
  outline: none;
}
.input-red:active {
  border: 3px solid $secondary-color;
  background-color: white;
  outline: none;
}


//--------------------------

#player-names {
  @include flex(column, center, center);

  h2 {
    font-size: 4em;
  }

  .input-group {
    @include flex(column, flex-start, flex-start);
    width: 49%;
    margin-bottom: 1rem;
  }

  .input-red {
    width: 100%;
  }

  .player-names-col {
    margin-top: 4rem;
    width: 50vw;
    @include flex(row, flex-start, center);
    flex-wrap: wrap;  
    gap: 2%;

  }
}

.label-big {
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: .3rem;
}

.game-name {
  font-weight: bold;
  align-self: flex-end;
  margin-top: 1rem;
  margin-right: 1rem;
}



.display-none {
  display: none !important;
}